body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
.Statistics-header {
  background-color: #EEF2F6;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.gridItem {
  display: flex;
}

.statContainer {
  background-color: white;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 15px;
  font-size: 100vw;
  color: #1976D2;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dataContainer {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

/* ANIMATIONS FOR NUMBERS ON STATISTICS PAGE */
@property --num1 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
#num1 {
  transition: --num1 0.4s;
  counter-set: num1 var(--num1);
  font: 800 40px system-ui;
}
#num1::after {
  content: counter(num1);
}

@property --num2 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
#num2 {
  transition: --num2 0.4s;
  counter-set: num2 var(--num2);
  font: 800 40px system-ui;
}
#num2::after {
  content: counter(num2);
}

@property --num3 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
#num3 {
  transition: --num3 0.4s;
  counter-set: num3 var(--num3);
  font: 800 40px system-ui;
}
#num3::before {
  content: '$';
}
#num3::after {
  content: counter(num3);
}

@property --num4 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
#num4 {
  transition: --num4 0.4s;
  counter-set: num4 var(--num4);
  font: 800 40px system-ui;
}
#num4::after {
  content: counter(num4);
}

@property --num5 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
#num5 {
  transition: --num5 0.4s;
  counter-set: num5 var(--num5);
  font: 800 40px system-ui;
}
#num5::after {
  content: counter(num5);
}
#num6 {
  font: 800 40px system-ui;
}
#num5container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* END ANIMATIONS FOR NUMBERS ON STATISTICS PAGE */